<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BachHoaXanh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BachHoaXanh.Properties.Settings.PhatTrienBachHoaXanhConnectionString" connectionString="Data Source=LAPTOP-K9NJ77AV\SQLEXPRESS;Initial Catalog=PhatTrienBachHoaXanh;User ID=sa;Password=sa2012" providerName="System.Data.SqlClient" />
    <add name="PhatTrienBachHoaXanhEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-K9NJ77AV\SQLEXPRESS;initial catalog=PhatTrienBachHoaXanh;user id=sa;password=sa2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <BachHoaXanh.Properties.Settings>
      <setting name="ChuoiKetNoi" serializeAs="String">
        <value>Data Source=LAPTOP-K9NJ77AV\SQLEXPRESS;Initial Catalog=PhatTrienBachHoaXanh;User ID=sa;Password=sa2012</value>
      </setting>
    </BachHoaXanh.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>